small {
    font-size: 75%;
  }
  
   header {
    background-color: rgb(192, 13, 192);
    border: springgreen solid 3px;
  } 
  /* .img {
    background-image: url(https://media.istockphoto.com/photos/mixed-colorful-fruit-bonbon-picture-id153502589?k=6&m=153502589&s=612x612&w=0&h=KqT6byV9WbXQRQWFZUkqur35_UMYZ9ub8RIPhUq-WBw=);
    opacity: 0.3;
    z-index: -1;
  } */
  
  .site-title {
    color: navy;
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: cornsilk;
    box-sizing: border-box;
    background-color: orchid;
    list-style-type: none;
  }
  
  .nav-link {
    color: cornsilk;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: darkorange;
  }

  /* .nav-link:active {
    color: springgreen;
  } */

  .selected {
    color: navy;
  }
